#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export AMCCONF=deb

%:
	dh $@ --with tex

override_dh_installtex:
	dh_installtex -pauto-multiple-choice-common

override_dh_compress:
	dh_compress -X.pdf

override_dh_installdocs:
	$(foreach suffix,"" "-common" "-doc" "-doc-pdf", \
		dh_installdocs --doc-main-package=auto-multiple-choice -pauto-multiple-choice$(suffix) ; )
