#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	AMCCONF=deb dh $@ --with tex

override_dh_installtex:
	AMCCONF=deb dh_installtex -pauto-multiple-choice-common

override_dh_compress:
	AMCCONF=deb dh_compress -X.pdf
